<h2>Person Details</h2>

<div *ngIf="persons.length > 0; else noData">
  <table class="person-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Pincode</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td>{{ person.name }}</td>
        <td>{{ person.address }}</td>
        <td>{{ person.city }}</td>
        <td>{{ person.state }}</td>
        <td>{{ person.pincode }}</td>
        <td>{{ person.phoneNumber }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <p class="no-data">No persons added yet.</p>
</ng-template>
